#Carousel {

}
#Carousel .bg {
}
#Carousel .slide {
}
#Carousel .frame {


}

#Carousel #CaroLinks {

}
#CaroLinks .bubble .bbg {
	POSITION: absolute
}
#CaroLinks .bubble {
}
#CaroLinks .bubble#on A {

}
#CaroLinks .bubble A IMG {


}
#CaroLinks .bubble A SPAN {

	DISPLAY: block;

}
#CaroLinks .bubble A {

	DISPLAY: block;

}
#CaroLinks .bubble A:hover {

}
