@import url(http://fonts.googleapis.com/css?family=Arimo&subset=latin,cyrillic,latin-ext);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.spcNavwrap {
  margin: 0 auto;
  padding-top: 50px;
  width: 960px;
}

ul#spcStrNav {
  background-color: #e00061;
  display: inline-block;
  font-size: 0;
  padding: 0;
  position: relative;
  z-index: 999;
  zoom: 1;
  *display: inline;
  	/*img{
  		border:none;
  		margin-right:3px;
  		vertical-align:middle;
  	}
  
  	span{
  		background-image:url("../images/arrowmain.png");
  		background-position:right center;
  		background-repeat:no-repeat;
  		display:block;
  		overflow:visible;
  		padding-right:25px;
  	}*/
}
ul#spcStrNav > li {
  display: block;
  float: left;
  font-size: 0;
  position: relative;
  white-space: nowrap;
  border-right: 1px solid #ff4797;
  border-left: 1px solid #e00061;
}
ul#spcStrNav > li:first-child {
  border-left: 1px solid #ff4797;
}
ul#spcStrNav > li:last-child {
  border-right: none;
}
ul#spcStrNav > li:hover {
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
}
ul#spcStrNav > li:hover > a {
  background: white;
  color: black;
  text-decoration: none;
}
ul#spcStrNav > li:hover > ul {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
ul#spcStrNav > li > a {
  line-height: 34px;
  background-color: transparent;
  padding: 0 6px;
}
ul#spcStrNav > li > ul {
  background-color: #fff4e4;
  border: 1px solid black;
  border-top: none;
  left: 0;
  opacity: 0;
  position: absolute;
  left: -1px;
  top: 100%;
  visibility: hidden;
  z-index: 9;
  /*span{
  	background-image:none;
  	padding-right:17px;
  }*/
}
ul#spcStrNav > li > ul > li {
  position: relative;
}
ul#spcStrNav > li > ul > li a {
  background-color: transparent;
  border-bottom: 1px dotted #cccccc;
  color: #ff007d;
  font: 15px Arimo,Arial,Helvetica,sans-serif;
  height: 32px;
  padding: 0 10px;
  line-height: 32px;
  text-align: left;
  text-decoration: none;
}
ul#spcStrNav > li > ul > li:hover > a {
  background-color: white;
  border: 1px solid #b3b3b3;
  border-left: none;
  border-right: white;
  color: #ff007d;
  margin-top: -1px;
  margin-right: -1px;
  text-decoration: none;
}
ul#spcStrNav > li > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
}
ul#spcStrNav > li > ul > li:first-child:hover > a {
  border-top: none;
  height: 32px;
  margin-top: 0;
}
ul#spcStrNav > li > ul > li:last-child > a {
  border: none;
}
ul#spcStrNav > li > ul > li:first-child > ul {
  border-top: none;
}
ul#spcStrNav > li > ul > li > ul {
  border: 1px solid #b3b3b3;
  left: 100%;
  min-height: 70px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 280px;
  z-index: -1;
}
ul#spcStrNav > li > ul > li > ul li {
  float: left;
}
ul#spcStrNav > li > ul > li > ul li:nth-child(even) > a {
  border-right: none;
}
ul#spcStrNav > li > ul > li > ul li a {
  background: white;
  border-bottom: 1px solid white;
  border-right: 1px dotted #e6e6e6;
  color: gray;
  font: 13px/32px Arimo,Arial,Helvetica,sans-serif;
  padding: 0 4px 0 6px;
  width: 125px;
}
ul#spcStrNav > li > ul > li > ul li a:hover {
  color: #ff007d;
}
ul#spcStrNav a {
  background-repeat: repeat;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font: 15px Arimo,Arial,Helvetica,sans-serif;
  padding: 0;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
}
ul#spcStrNav a:active, ul#spcStrNav a:focus {
  outline-style: none;
}

* html ul#spcStrNav li a {
  display: inline-block;
}
