html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
  font-family: "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
}

body {
  font-size: 1.2rem;
}

ol, ul {
  list-style: none outside none;
}

a {
  text-decoration: none;
}

#slowLife {
  width: 950px;
  margin: 0 auto;
  padding: 10px;
}

#styleD {
  padding-bottom: 10px;
}
#styleD .head {
  height: 53px;
  overflow: hidden;
  position: relative;
}
#styleD .backBarBg {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(50%, rgba(238, 238, 238, 0.5)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee, rgba(238, 238, 238, 0.5), #ffffff);
  background-image: -moz-linear-gradient(top, #eeeeee, rgba(238, 238, 238, 0.5), #ffffff);
  background-image: -o-linear-gradient(top, #eeeeee, rgba(238, 238, 238, 0.5), #ffffff);
  background-image: linear-gradient(top, #eeeeee, rgba(238, 238, 238, 0.5), #ffffff);
  border-top: 2px solid #ff0080;
  bottom: 0;
  height: 41px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
#styleD .infoBlock {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #ff0080;
  height: 46px;
  left: 20px;
  max-width: auto;
  min-width: 150px;
  position: absolute;
  top: 1px;
  z-index: 9;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
#styleD .infoBlock .cornerL {
  position: absolute;
  left: -11px;
  top: 0;
  height: 0;
  width: 0;
  border-bottom: 11px solid #c70064;
  border-left: 11px solid transparent;
  border-right: 0 solid transparent;
}
#styleD .infoBlock .cornerR {
  position: absolute;
  right: -11px;
  top: 0;
  height: 0;
  width: 0;
  border-bottom: 11px solid #c70064;
  border-left: 0 solid transparent;
  border-right: 11px solid transparent;
}
#styleD .infoBlock .infoCont {
  color: white;
}
#styleD .infoBlock .infoCont .floor {
  color: #ff0080;
  font: bold 1.6rem/2.2rem Arial;
  padding-left: 17px;
  position: absolute;
  top: 9px;
  z-index: 9;
}
#styleD .infoBlock .infoCont .title {
  padding-top: 10px;
  margin: 0 12px 0 46px;
  color: white;
  font: bold 2rem/2.2rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
}
#styleD .infoBlock .infoCont .eyeIcon {
  position: absolute;
  margin: 0 auto;
  width: 32px;
  height: 40px;
  overflow: hidden;
  background: transparent;
  top: 4px;
  left: 10px;
  z-index: 2;
}
#styleD .infoBlock .infoCont .eyeIcon .downArr {
  border-top: 12px white solid;
  border-right: 8px transparent solid;
  border-bottom: 0px transparent solid;
  border-left: 8px transparent solid;
  left: 8px;
  position: absolute;
  top: 25px;
}
#styleD .infoBlock .infoCont .eyeIcon .downArr:after {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  border-radius: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: white;
  content: "";
  display: block;
  height: 28px;
  left: -14px;
  position: absolute;
  top: -36px;
  width: 28px;
}
#styleD .rightmore {
  margin-top: 24px;
  position: absolute;
  right: 10px;
  text-align: right;
  width: 500px;
  z-index: 9;
}
#styleD .rightmore a {
  color: rgba(0, 0, 0, 0.4);
  font: 1.5rem/1.6rem "微軟正黑體","蘋果儷中黑","新細明體",Arial;
  padding-right: 4px;
}
#styleD .rightmore a:hover {
  text-decoration: underline;
  color: #cc0000;
}

#itemD.boxdiv {
  background-color: white;
  border: none;
  overflow: hidden;
  position: relative;
  width: 950px;
}
#itemD.boxdiv li.linediv {
  float: left;
  margin-right: 5px;
}
#itemD.boxdiv li.linediv:first-child {
  margin-left: 2px;
}
#itemD.boxdiv li.linediv:last-child {
  margin-right: 1px;
}
#itemD.boxdiv li.linediv .spanimg {
  display: block;
  width: 225px;
  overflow: hidden;
  position: relative;
}
#itemD.boxdiv li.linediv:nth-child(odd) .spanimg {
  height: 230px;
}
#itemD.boxdiv li.linediv:nth-child(odd) .spanimg img {
  width: 230px;
}
#itemD.boxdiv li.linediv:nth-child(odd) .price {
  height: 34px;
  line-height: 34px;
}
#itemD.boxdiv li.linediv:nth-child(even) .spanimg {
  height: 250px;
}
#itemD.boxdiv li.linediv:nth-child(even) .spanimg img {
  width: 250px;
}
#itemD.boxdiv li.linediv:nth-child(even) .price {
  height: 38px;
  line-height: 34px;
}
#itemD.boxdiv li.linediv .item {
  margin-bottom: 5px;
}
#itemD.boxdiv li.linediv .item a {
  border: 1px solid #e9eaec;
  display: block;
  padding: 3px;
}
#itemD.boxdiv li.linediv .item a:hover {
  border: 1px solid #c9585c;
  transition: all 0.3s ease-in-out 0s;
}
#itemD.boxdiv li.linediv .item a .price {
  border-bottom: 1px dashed #e0e0e0;
  display: block;
  margin-top: 5px;
  width: 225px;
}
#itemD.boxdiv li.linediv .item a .price em {
  border: 1px solid #c9585c;
  border-radius: 5px;
  color: #c9585c;
  float: left;
  height: 16px;
  line-height: 16px;
  margin: 7px 3px;
  padding: 0 5px 1px;
  font-style: normal;
}
#itemD.boxdiv li.linediv .item a .price .xj {
  color: #c9585c;
  float: left;
  font-family: arial;
  font-size: 20px;
  font-weight: bolder;
}
#itemD.boxdiv li.linediv .item a .price .yj {
  color: #6b6b6b;
  float: right;
  font-size: 12px;
}
#itemD.boxdiv li.linediv .item a .price .yj .ykj {
  padding: 0 3px;
}
#itemD.boxdiv li.linediv .item a .text {
  color: #2a2a2a;
  display: block;
  height: 42px;
  line-height: 20px;
  transition: all 0.3s ease-in-out 0s;
  width: 225px;
}
