@import url(http://fonts.googleapis.com/css?family=Arimo&subset=latin,cyrillic,latin-ext);
html {
  font-size: 62.5%;
  /*10 ÷ 16 × 100% = 62.5%*/
  font-family: "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
}

body {
  font-size: 1.2em;
  font-size: 1.2rem;
  -webkit-text-size-adjust: none;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

/* *
 * SCSS Variables
 * */
/* eo:SCSS Variables */
/* *
 * SCSS Mixins
 * */
/* eo:SCSS Mixins */
/* *
 * SCSS Functions
 * */
.arrow-top {
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 20px;
  border-style: solid;
  border-bottom-color: #94c6fd;
}

.arrow-right {
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 20px;
  border-style: solid;
  border-left-color: #94c6fd;
}

.arrow-bottom {
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 20px;
  border-style: solid;
  border-top-color: #94c6fd;
}

.arrow-left {
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 20px;
  border-style: solid;
  border-right-color: #94c6fd;
}

/* eo:SCSS Functions */
.arrow-default {
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 20px;
  border-style: solid;
  border-top-color: #94c6fd;
}

#arrows {
  *zoom: 1;
  list-style: none;
}
#arrows:before, #arrows:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#arrows:after {
  clear: both;
}
#arrows li {
  float: left;
  width: calc(100%/4);
}
#arrows li.title {
  font-size: 2em;
  margin: 0 0 25px;
  width: 100%;
}
#arrows li.title ~ .title {
  margin-top: 50px;
}
#arrows li .button-cta {
  background-color: #94c6fd;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  position: relative;
  text-shadow: 0 1px 1px #499efc;
  width: calc(100% - (30px + 5px));
  -webkit-transition: color 500ms;
  transition: color 500ms;
}
#arrows li .button-cta:hover {
  color: white;
}
#arrows li .button-cta:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 15px;
  border-style: solid;
  border-left-color: #94c6fd;
  position: absolute;
  left: 100%;
  top: 0;
}
#arrows li .button-w-cta {
  background-color: #94c6fd;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  position: relative;
  text-shadow: 0 1px 1px #499efc;
  width: calc(100% - (30px + 5px));
  -webkit-transition: color 500ms;
  transition: color 500ms;
  padding-right: 35px;
}
#arrows li .button-w-cta:hover {
  color: white;
}
#arrows li .button-w-cta:before {
  content: '';
  background: white;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
}
#arrows li .button-w-cta:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 8px;
  border-style: solid;
  border-left-color: #94c6fd;
  position: absolute;
  right: 1px;
  top: 7px;
}

ul.list {
  width: 190px;
  overflow: hidden;
}

li > input[type=checkbox] {
  opacity: 0;
}

label {
  margin-left: -2px;
}

input[type=checkbox]:checked ~ ul {
  display: none;
}

input[type=checkbox] + span {
  margin-left: -9px;
}

input[type=checkbox] + span:before {
  content: '\25BC';
}

input[type=checkbox]:checked + span:before {
  content: '\25B6';
}

ul.list,
ul.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.list ul {
  margin-left: 15px;
  padding: 0;
  position: relative;
}

ul.list ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid #ccc;
}

ul.list li {
  margin: 0;
  padding: 3px 0;
  text-decoration: none;
  text-transform: uppercase;
  font: normal 1.3rem/2rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
  position: relative;
}

ul.list li label {
  text-decoration: none;
  text-transform: uppercase;
  font: normal 1.4rem/1.4rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
  color: #333;
  position: relative;
}

ul.list li li li {
  padding-left: 20px;
}

ul.list label {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 20px;
}

ul.list li label:hover,
ul.list li label:hover + ul li label {
  color: #a50000;
}

ul.list ul li:before {
  content: "";
  display: block;
  width: 15px;
  height: 0;
  border-top: 1px solid #ccc;
  position: absolute;
  top: 12px;
  left: 0;
}

ul.list ul li:last-child:before {
  background: none repeat scroll 0 0 white;
  height: auto;
  top: 10px;
  bottom: 0;
}

ul.list > li > label {
  position: absolute;
  top: 6px;
  left: 30px;
}

ul.list > li li > label {
  position: absolute;
  top: 6px;
  left: 30px;
}

ul.list > li li li label {
  position: relative;
  left: 0px;
  top: -2px;
}
