@import "base";
@import "zindex";

//#shopMenuBar
.shopMB{
	@include box-shadow(rgba(0,0,0,0.2) 0 2px 3px 0);
	background-color: rgba(0, 0, 0, 0.8);
	border-bottom:1px solid rgba(255, 255, 255, 0.8);
	color: white;
	display: none;
	height: 36px;
	//overflow:hidden;;
	position: fixed;
	text-decoration: none;
	top:0;
	width:100%;
	z-index: index($z, shopMB);
	.shopNav{
		background: transparent;
		color: white;
		display:block;
		font:normal 1.2rem/36px "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
		margin:0 auto;
		position: relative;
		width:1008px;
		a {
		    display: inline-block;
		    font:normal 1.2rem/36px "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
		    height: 36px;
		    padding: 0 10px;
		    color: white;
		    text-decoration: none;
		    //margin-right: 20px;
		    &:hover {
		    	background-color: #444;
			}
		}
	}
	.sStore{
		float:left;
		height: 36px;
		position: relative;
		z-index: index($z, sStore);
		>a{
			background: #a00052 url(../images/demo/shopTop.png) repeat-x;
			border-right:1px solid lighten($navBg, 20%);
			border-left:1px solid lighten($navBg, 20%);
			color: #ff0;
			font-size:1.5rem;
			text-align: center;
			width:120px;
			&:hover{
		  		background: #ff6692 url(../images/demo/shopTop.png) repeat-x;
			}
		}
	}
	/*------ //搜索框 ---------*/
	.search {
		background:$wht;
		float:left;
		width:200px;
		.form_left{
			position:relative;
			.searchTerm {
				border: 3px solid #e70072;
				color: rgba($gry02,0.8);
				float: left;
				font:normal 1.5rem/30px "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
			  	height: 30px;
			  	outline: none;
			  	padding: 0 10px;
			  	width: 100%;
			 	&:focus{
					color: #e70072;
				}
			}
			.searchButton {
				position: absolute;
				right: -50px;
				width: 40px;
				height: 36px;
				opacity: 0;
				cursor: pointer;
			}
			&:before {
				position: absolute;
				right: -50px;
				width: 40px;
				height: 36px;
				line-height: 36px;
				background: #e70072;
				text-align: center;
				color: #fff;
				border-radius: 5px;
				font-family: 'FontAwesome';
				content: '\f002';
			}
		}
		.hotwords{
			@include box-shadow(rgba(0,0,0,0.5) 0 2px 3px 0);
			background:#fff;
			border:#D9D9D9 1px solid;
			border-top:none;
			position:absolute;
			top:36px;
			left:-1px;
			width:390px;
			z-index: index($z, hotwords);
			li:hover,li:hover a,li a:hover{
				text-decoration:none;
				background:#ff6692;
				color:$wht;
			}
			button{
				margin-top:-2px;
			}
			li{
				display:block;
				height:28px;
				line-height:28px;
				&.hwtitle{
					margin:0 10px;
					color:darken($gry02, 20%);
					border-bottom:#EFEFEF 1px solid;
					&:hover{
						background:#fff;
						color:darken($gry02, 20%);
					}
				}
				a{
					height:28px;
					line-height:28px;
					display:block;
					padding:0 10px;
					color:rgba($gry02,0.8);
					h1{
						font-size:13px;
						height:28px;
						line-height:28px;
						float:left;
						font-weight:normal;
					}
					span{
						display:block;
						height:28px;
						line-height:28px;
						float:right;
					}
				}
			}
		}
	}
}

#wrapMain{ //default background color
	background:$wht;
	padding: 20px 0 0;
}
#wrapInner{
    background: $wht;
    margin: 0 auto;
    position: relative;
    top: 0;
    width: 1008px;
    .stoTito{
    	border-bottom:1px solid rgba($gry02,0.2);
    	min-height: 60px;
    	overflow: hidden;
    	position:relative;
    	width: 1008px;
    	.desc{
    		bottom:-4px;
    		font:normal 1.2rem/2rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
    		padding:10px;
    		position:absolute;
    		li{
    			color:$black;
    			float:left;
    			padding-right:10px;
    			a{
    				color:$black;
    				&:hover{
    					color:darken($red02, 5%);
    					text-decoration: underline;
    				}
    			}
    		}
    	}
    }
    .stoTop{
    	background:$wht;
		.HotSalePromo {
			background-color: $wht;
			height:265px;
			.hd {
				    border-bottom: 1px solid lighten($black, 80%);
				    color: $gry02;
				    position: relative;
				    padding-bottom:6px;
				    h3{
				    	border-left:8px solid lighten($red02, 5%);
				    	padding-left:10px;
				    	height: 18px;
				    	margin-top:6px;
				    	font:bold 1.6rem/18px "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
				    }
					>ul {
					    list-style: none outside none;
					    padding-left:110px;
					    position: absolute;
					    top:3px;
					    li {
						    float: left;
						    >a {
							    background: lighten($gry02, 60%);
							    display: inline-block;
							    float: left;
							    height: 12px;
							    margin-left: 2px;
							    //position: absolute;
							    width: 12px;
							    top:0px;
							}
							&.on a, &:hover a{
								background: lighten($gry02, 10%);
							}
							.secTabCon{
								//border:1px solid #f00;
								display:none;
								position: absolute;
								top: 20px;
								left:0;
								padding: 10px 0 4px 18px;
								overflow: hidden;
								width: 190px;
								i {
									color: $wht;
									font:bold 1.1rem/1.1rem Arial,sans-serif;
									height: 43px;
									left: 0;
									padding: 5px 0 0 3px;
									position: absolute;
									top: 7px;
									left:18px;
									width: 43px;
									b {
										padding-left: 6px;
									}
								}
								.ico-label-HOTbg {
									background-position: -393px -565px;
									height: 43px;
									width: 43px;
								}
								img {
									border: 1px solid lighten($gry02, 60%);
									height: 160px;
									width: 160px;
									vertical-align: top;
								}
								.Gd-name {
									color: $gry02;
									font:normal 1.3rem/1.6rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
									height: 30px;
									overflow: hidden;
									padding-top:4px;
									width:90%;
								}
								.Gd-prc {
									color: lighten($red02, 5%);
									display: inline-block;
									font:normal 1.2rem/2rem Arial,sans-serif;
									padding-top: 6px;
									overflow: hidden;
									word-wrap: break-word;
									span {
										font-size: 19px;
										font-weight: bold;
									}
								}
							}
							&.on .secTabCon{
								display:block;
							}
						}
					}
			}
				
			.bd {
    				padding: 5px 0 4px;
    				ul {
						padding: 5px 0 0 15px;
						li {
							display: none;
							overflow: hidden;
							width: 160px;
							a {
								position: relative;
								color: lighten($gry02, 60%);
								i {
									color: $wht;
									font:bold 1.1rem/1.1rem Arial,sans-serif;
								 	height: 43px;
									left: 0;
									padding: 6px 0 0 3px;
									position: absolute;
									top: 0px;
									width: 43px;
									b {
										padding-left: 6px;
									}
								}
								.ico-label-HOTbg {
									background-position: -393px -565px;
									height: 43px;
									width: 43px;
								}
								img {
									border: 1px solid lighten($gry02, 60%);
								 	height: 156px;
									width: 156px;
									vertical-align: top;
								}
								.Gd-name {
									color: $gry02;
									font:normal 1.3rem/1.5rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
									height: 30px;
									overflow: hidden;
									padding-top:2px;
								}
								.Gd-prc {
									color: lighten($red02, 5%);
								 	display: inline-block;
									font:normal 1.2rem/2rem Arial,sans-serif;
									padding-top: 4px;
									overflow: hidden;
									word-wrap: break-word;
									span {
										font-size: 19px;
										font-weight: bold;
									}
								}
							}
						}
						li.on{
							display:block;
						}
					}
			}
		}
		.todaySale{
			height:241px;
		}
    }
}
.page-left-bar {
	width: 190px;
}
.product-category-bar {
	position: relative;
	z-index: index($z, product-category-bar);
}
.section-title {
	position: relative;
	z-index: index($z, section-title);
	.blockTitle {
		background:lighten($gry02, 20%); //defaul
		color:$wht;
		display: block;
		font:normal 1.6rem/30px "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
		height: 30px;
		width: 190px;
		text-indent: 10px;
	}
	.more {
		color: lighten($gry02, 60%);
		cursor: pointer;
		font:normal 1.2rem/1.9rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
		padding: 7px 7px 0 0;
		position: absolute;
		right: 0;
		top: 0;
		.ico-promo-cate-more {
			background-position: -106px -302px;
			height: 17px;
			margin-left: 3px;
			vertical-align: middle;
			width: 16px;
		}
	}
	.section-lists-more {
		background:$wht;
		border: 3px solid rgb(251, 49, 149);
		display: none;
		left:77px;
		position: absolute;
		top: 0;
		width: 220px;
		z-index: index($z, section-lists-more);
		a {
			display: block;
			color: lighten($gry02, 10%);
			font:normal 1.2rem/2.6rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
			background-repeat: no-repeat;
			border-bottom: 1px dotted rgb(219, 219, 219);
			padding: 0 10px;
			text-decoration: none;
			&:hover{
				background:lighten($gry02, 75%);
				color:$black;
			}
		}
	}
	.more:hover >.section-lists-more{
		display:block;
	}
}
.section-sort{
	li{
		display:inline-block;
		height:3.2rem;
		a{
			color: $gry02;
			line-height: 3.2rem;
			&:hover{
				color:darken($red02, 5%);
			}
		}
		&:before {
			margin-right:5px;
			content:"|";
		}
		&:first-child:before {
			content:"";
		}
	}
}
.section-lists{
	a {
		background-image: url("../images/top_navi_sprite.png");
		background-repeat: no-repeat;
		display: block;
		font:normal 1.3rem/2.4rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
		padding: 0 14px 0 20px;
		position: relative;
	}
	.cate-level-1 {
	    background-position: -7300px -448px;
	    font-size: 13px;
	    padding: 0 14px 0 20px !important;
	}
}
.HIGHLIGHTDOWN {
    background-position: -10006px -359px;
    color: rgb(193, 67, 70) !important;
}
.cate-level-2-hassub-open {
    background-position: -60px -696px;
    padding: 0 14px 0 42px !important;
}
.cate-level-2-hassub-close {
    background-position: -60px -941px;
    padding: 0 14px 0 42px !important;
}
.cate-level-2-hassub-close-last {
    background-position: -60px -1064px;
    padding: 0 14px 0 42px !important;
}
.cate-level-3-hassub {
    background-position: -60px -1188px;
    padding: 0 14px 0 42px !important;
}
.cate-level-3-hassub-last {
    background-position: -60px -1311px;
    padding: 0 14px 0 42px !important;
}
.member-navi-bg, .sprite-image {
    background-image: url("../images/top_navi_sprite.png");
    background-position: -1500px -2500px;
    background-repeat: no-repeat;
}


.blockTitle {
	background:lighten($gry02, 10%);
}
.section-lists{
	padding-bottom:10px;
	.other-category{
		padding:6px 0;
		a {
			line-height:2.2rem;
			color: rgb(193, 67, 70);
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.inline-block {
	display: inline-block;
}
.member-navi-bg, .sprite-image {
	background-image: url("../images/top_navi_sprite.png");
	background-repeat: no-repeat;
}
.ico-storeCate-arrow {
    background-position: -396px -342px;
    display: none;
    height: 13px;
    position: absolute;
    right: -1px;
    top: 8px;
    width: 8px;
}
.page-left-bar {
	display:inline-block;
	padding-bottom:10px;
	width: 190px;
	vertical-align: top;
}
.productBuilder-infos {
	display:inline-block;
	//float:right;
	padding-left:7px;
	width: 808px;
	vertical-align: top;
	>div{
		padding-bottom:10px;
	}
}
.speStoMImg{
	padding-bottom:10px;
	.speStoMImg{
		float:left;
		height:405px;
		overflow: hidden;
		width:618px;
	}
	.speStoPP{
		float:left;
		min-height:300px;
		overflow: hidden;
		width:190px;
		li{
			height:135px;
			overflow: hidden;
			position: relative;
			img{
				margin-top:-30px;
			}
			.sSPP-name {
				color: rgba($wht,0);
				font:normal 1.3rem/2.2rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
				height: 36px;
				overflow: hidden;
				padding:0 0 0 10px;
				position: absolute;
				top:110px;
				width:180px;
				white-space : nowrap;
				word-wrap: break-word;
				z-index: index($z, sSPP-name);
				text-overflow:ellipsis;
				-o-text-overflow:ellipsis;
				text-overflow:ellipsis;
				display:-webkit-box;
				-webkit-line-clamp:1;
				-webkit-box-orient:vertical;
			}
			.sSPP-pri{
				background:rgba($black,0.4);
				color: rgba($wht,0.8);
				display: inline-block;
				font:normal 1.2rem/2.2rem Arial,sans-serif;
				height: 36px;
				position: absolute;
				top:110px;
				padding-left:8px;
				overflow: hidden;
				width:100%;
				word-wrap: break-word;
				span {
					font:normal 1.9rem/2.2rem Arial,sans-serif;
					top:4px;
				}
			}
			a{
				&:hover{
				.sSPP-name{
					color: rgba($wht,0.8);
					display:block;
					transition: all 0.5s ease-in-out 0s;
					}
					.sSPP-pri{
						background:rgba($black,0.6);
						height: 50px;
						top:90px;
						transition: all 0.3s ease-in-out 0s;
					}
				}	
			}
		}
	}
}

.fullscreen {
	margin:0 auto;
	overflow: hidden;
	padding: 0 10px;
    position: relative;
    width: 988px;
}
.lookStory{
    padding:0;
}
.FooterCopyright {
    margin-top: 25px;
    padding:0;
}

//頁面自訂
#styleA{
	#wrapMain{ //#style background color
		background: url(../images/demo/bgStyleA.png) repeat;
		background-attachment:fixed;
	}
	.stoTito{ //style main Title Img
		//background: url(../images/demo/stoTitoA.png) no-repeat;
	}
	.section-lists{
		background:lighten($gry02, 75%);
		a {
			color: darken($gry02, 5%);
			&:hover{
				color:darken($red02, 5%);
			}
		}
		a.cate-level-1 {
			color: $wht;
			margin:2px 0;
			border-top:1px dotted $brown02;
			border-bottom:1px dotted $brown02;
			position: relative;
			i {
				@include arrow($dir: right, $size: 6px, $color: $wht);
				float:right;
				position: absolute;
				top:6px;
				right:4px;
			}
			&:hover{
				color:lighten($yellow, 25%);
				/*i{
					@include arrow($dir: right, $size: 6px, $color: lighten($yellow, 25%));
				}*/
			}
		}
	}
	.odd {
		background: darken($brown01, 5%);
	}
	.even {
		background: saturate($brown01, 5%);
	}
}

#styleB{
	#wrapMain{ //#style background color
		background: url(../images/demo/bgStyleB.png) repeat;
		background-attachment:fixed;
	}
	.stoTito{ //style main Title Img
		//background: url(../images/demo/stoTitoB.png) no-repeat;
	}
	.section-lists{
		background:lighten($red02, 67%);
		a {
			color: darken($gry02, 5%);
			&:hover{
				color:darken($red02, 5%);
			}
		}
		a.cate-level-1 {
			color: $wht;
			margin:2px 0;
			border-top:1px dotted $brown02;
			border-bottom:1px dotted $brown02;
			position: relative;
			i {
				@include arrow($dir: right, $size: 6px, $color: $wht);
				float:right;
				position: absolute;
				top:6px;
				right:4px;
			}
			&:hover{
				color:lighten($yellow, 25%);
				/*i{
					@include arrow($dir: right, $size: 6px, $color: lighten($yellow, 25%));
				}*/
			}
		}
	}
	.odd {
		background: #bb7572;
	}
	.even {
		background: #bb7572;
	}
}

#styleC{
	#wrapMain{ //#style background color
		//background: url(../images/demo/bgStyleB.png) repeat;
		//background-attachment:fixed;
		background:#fff;
	}
	.stoTito{ //style main Title Img
		//background: url(../images/demo/stoTitoB.png) no-repeat;
	}
	.section-lists{
		background:#d5cfc8;
		a {
			color: darken($gry02, 5%);
			&:hover{
				color:darken($red02, 5%);
			}
		}
		a.cate-level-1 {
			color: $wht;
			margin:2px 0;
			border-top:1px dotted $brown02;
			border-bottom:1px dotted $brown02;
			position: relative;
			i {
				@include arrow($dir: right, $size: 6px, $color: $wht);
				float:right;
				position: absolute;
				top:6px;
				right:4px;
			}
			&:hover{
				color:$black;
				text-decoration:none;
				/*i{
					@include arrow($dir: right, $size: 6px, $color: lighten($yellow, 25%));
				}*/
			}
		}
	}
	.odd {
		background: #9f9fa0;
	}
	.even {
		background: darken(#9f9fa0, 5%);
	}
}

#styleD{
	#wrapMain{ //#style background color
		//background: url(../images/demo/bgStyleB.png) repeat;
		//background-attachment:fixed;
		background:$wht;
	}
	.stoTito{ //style main Title Img
		//background: url(../images/demo/stoTitoB.png) no-repeat;
	}
	.section-lists{
		background:rgba($yellow,0.1);
		a {
			color: darken($gry02, 5%);
			&:hover{
				color:darken($red01, 5%);
			}
		}
		a.cate-level-1 {
			color: $wht;
			margin:2px 0;
			border-top:1px dotted $brown02;
			border-bottom:1px dotted $brown02;
			position: relative;
			i {
				@include arrow($dir: right, $size: 6px, $color: $wht);
				float:right;
				position: absolute;
				top:6px;
				right:4px;
			}
			&:hover{
				color:$black;
				text-decoration:none;
				/*i{
					@include arrow($dir: right, $size: 6px, $color: lighten($yellow, 25%));
				}*/
			}
		}
	}
	.odd {
		background: #f4ad06;
	}
	.even {
		background: darken(#f4ad06, 5%);
	}
}