@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "compass/utilities/general/hacks";

html{font-size:62.5%;font-family:"微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;}
body{font-size:1.2rem;}
ol, ul {list-style: none outside none;}
a {text-decoration: none;}

$red01:#cc0000;
$red02:#a00000;
$redPrice:#c90e12;
$wht01:#ffffff;
$bk01:#000000;
$gry01:#e9e9e9;
$gry02:#333333;
$gry03:#f8f8f8;
$styleC:rgba(192,100,100,1);
$styleD:rgba(255,100,128,1);
$styleE:rgba(206,168,78,1);
$styleF:rgba(255,180,50,1);

#slowLife{
	width: 950px;
	margin:0 auto;
	padding: 10px;
}

#itemC{
	.styleC{
		padding-bottom:10px; 
		.head{
			height: 53px;
			overflow: hidden;
			position: relative;
		}
		.backBarBg{
			@include background-image(linear-gradient(top,#eeeeee,rgba(#eeeeee,.5),$wht01));
			border-top: 2px solid $styleC;
			bottom:0;
			height: 41px;
			position: absolute;
			width: 100%;
			z-index: 1;
		}
		.infoBlock{
			@include border-radius(10px);
			border-top-left-radius:0;
			border-top-right-radius:0;
			background-color:$styleC;
			height:46px;
			left: 20px;
			max-width:auto;
			min-width:150px;
			position:absolute;
			top:1px;
			z-index:9;
			box-shadow:1px 1px 2px rgba($bk01,0.6);
			.cornerL{
				position: absolute;
				left:-11px;
				top:0;
				height:0;
				width:0;
				border-bottom:11px solid darken($styleC,11%);
				border-left:11px solid transparent;
				border-right:0 solid transparent;
			}
			.cornerR{
				position: absolute;
				right:-11px;
				top:0;
				height:0;
				width:0;
				border-bottom:11px solid darken($styleC,11%);
				border-left:0 solid transparent;
				border-right:11px solid transparent;
			}
			.infoCont{
				color:$wht01;
				.floor{
					color:$styleC;//cc0000
					font:bold 1.6rem/2.2rem Arial;
					padding-left:17px;
					position:absolute;
					top:9px;
					z-index:9;
				}
				.title{
					padding-top:10px;
					margin:0 12px 0 46px;
					color:$wht01;
					font:bold 2rem/2.2rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
					}
				
				.eyeIcon {
				    position:absolute;
				    margin: 0 auto;
				    width: 32px;
				    height: 40px;
				    overflow: hidden;
				    background:transparent;
				    top:4px;
				    left:10px;
				    z-index:2;
					.downArr {
					    border-top: 12px $wht01 solid;
					    border-right: 8px transparent solid;
					    border-bottom:0px transparent solid;
					    border-left: 8px transparent solid;
					    left:8px;
					    position: absolute;
					    top:25px;
					    &:after {
							@include border-radius(28px);
						    @include transform(rotate(0deg));
							background-color: $wht01;
						    content: "";
						    display: block;
						    height:28px;
						    left: -14px;
						    position: absolute;
						    top: -36px;
						    width: 28px;
						}
					}
				}
			}
		}
		.rightmore {
		    margin-top: 24px;
		    position: absolute;
		    right:10px;
		    text-align: right;
		    width: 500px;
		    z-index:9;
		    a{
		    	color:rgba($bk01,0.4);
		    	font:1.5rem/1.6rem "微軟正黑體","蘋果儷中黑","新細明體",Arial;
		    	padding-right:4px;
		    	&:hover{
					text-decoration: underline;
					color:$red01;
				}
		    }   
		}
	}

	.boxdiv{
	    background-color:$wht01;
	    border: 1px solid $gry01;
	    height: 465px;
	    overflow: hidden;
	    position: relative;
	    width: 950px;
	    margin-bottom:30px; 
	    .carLeft {
		    height: 460px;
		    left: 4px;
		    overflow: hidden;
		    position: absolute;
		    top: 5px;
		    width: 583px;
		    .cLeftBox {
			    height: 225px;
			    overflow: hidden;
			    position: absolute;
			    right: 0;
			    top: 0;
			    width: 225px;
			}
		}

		.carLeftNav {
		    left: 0;
		    position: absolute;
		    top: 0;
		    width: 345px;
		}

		.carRight {
		    height: 225px;
		    //overflow: hidden;
		    position: absolute;
		    right: 0;
		    top: 235px;
		    width: 588px;
		    .cRightBox {
			    height: 225px;
			    left: 0;
			    overflow: hidden;
			    position: absolute;
			    top: 0;
			    width: 225px;
			}
		}

		ul.carRightNav {
		    position: absolute;
		    right: 0;
		    top: -230px;
		    width: 345px;
		}
	}

	.hide{display:none;}

	.carCon {
		height: 225px;
		overflow: hidden;
		width: 225px;
		li{
			position:absolute;
			z-index:1;
			img {
				height: 225px;
				width: 225px;
				border: 0 none;
			}
		}
	}

	.carLeftNav li,.carRightNav li {
		cursor: pointer;
		display: block;
		float: left;
		height: 110px;
		margin-bottom: 5px;
		margin-right: 5px;
		position: relative;
		transition: all 0.1s ease-in-out 0s;
		width: 110px;
		overflow: hidden;
		.info {
			background-color:$bk01;
			display:block;
			position:absolute;
			width: 100%;
			padding:4px 0;
			z-index: 3;
			bottom:-30px;
			i {
				color:$wht01;
				font:normal  1.4rem/1.6rem arial bolder;
				font-family: arial;
				font-size: 1.4rem;
				font-style: normal;
				font-weight: bolder;
				padding: 2px 0 0 5px;
			}
			span {
				color:$wht01;
				font-family: arial;
				font-size:1.8rem;
				font-weight: 700;
				padding-right: 8px;
			}
		}
		.mark {
			background-color:$bk01;
			display: block;
			height: 110px;
			left: 0;
			opacity: 0.18;
			position: absolute;
			top: 0;
			transition: all 0.3s ease-in-out 0s;
			width: 110px;
			z-index: 2;
		}
		img {
			border: 0 none;
			height: 110px;
			position:absolute;
			width: 110px;
			z-index: 1;
		}
		&:hover {
			.info {
				opacity: 0.75;
				bottom:0px;
				transition: all 0.3s ease-in-out 0s;
			}
			.mark {
				opacity: 0;
			}
		}	
	}

	.carLeftNav li.active,.carRightNav li.active{
		.info {
			opacity: 0.75;
			bottom:0px;
			transition: all 0.3s ease-in-out 0s;
		}
		.mark {
			opacity: 0;
		}
	}
}

#itemD{
	.styleD{
		padding-bottom:10px; 
		.head{
			height: 53px;
			overflow: hidden;
			position: relative;
		}
		.backBarBg{
			@include background-image(linear-gradient(top,#eeeeee,rgba(#eeeeee,.5),$wht01));
			border-top: 2px solid $styleD;
			bottom:0;
			height: 41px;
			position: absolute;
			width: 100%;
			z-index: 1;
		}
		.infoBlock{
			@include border-radius(10px);
			border-top-left-radius:0;
			border-top-right-radius:0;
			background-color:$styleD;
			height:46px;
			left: 20px;
			max-width:auto;
			min-width:150px;
			position:absolute;
			top:1px;
			z-index:9;
			box-shadow:1px 1px 2px rgba($bk01,0.6);
			.cornerL{
				position: absolute;
				left:-11px;
				top:0;
				height:0;
				width:0;
				border-bottom:11px solid darken($styleD,11%);
				border-left:11px solid transparent;
				border-right:0 solid transparent;
			}
			.cornerR{
				position: absolute;
				right:-11px;
				top:0;
				height:0;
				width:0;
				border-bottom:11px solid darken($styleD,11%);
				border-left:0 solid transparent;
				border-right:11px solid transparent;
			}
			.infoCont{
				color:$wht01;
				.floor{
					color:$styleD;//cc0000
					font:bold 1.6rem/2.2rem Arial;
					padding-left:17px;
					position:absolute;
					top:9px;
					z-index:9;
				}
				.title{
					padding-top:10px;
					margin:0 12px 0 46px;
					color:$wht01;
					font:bold 2rem/2.2rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;;
					}
				
				.eyeIcon {
				    position:absolute;
				    margin: 0 auto;
				    width: 32px;
				    height: 40px;
				    overflow: hidden;
				    background:transparent;
				    top:4px;
				    left:10px;
				    z-index:2;
					.downArr {
					    border-top: 12px $wht01 solid;
					    border-right: 8px transparent solid;
					    border-bottom:0px transparent solid;
					    border-left: 8px transparent solid;
					    left:8px;
					    position: absolute;
					    top:25px;
					    &:after {
							@include border-radius(28px);
						    @include transform(rotate(0deg));
							background-color: $wht01;
						    content: "";
						    display: block;
						    height:28px;
						    left: -14px;
						    position: absolute;
						    top: -36px;
						    width: 28px;
						}
					}
				}
			}
		}
		.rightmore {
		    margin-top: 24px;
		    position: absolute;
		    right:10px;
		    text-align: right;
		    width: 500px;
		    z-index:9;
		    a{
		    	color:rgba($bk01,0.4);
		    	font:1.5rem/1.6rem "微軟正黑體","蘋果儷中黑","新細明體",Arial;
		    	padding-right:4px;
		    	&:hover{
					text-decoration: underline;
					color:$red01;
				}
		    }   
		}
	}

	.boxdiv{
	    background-color:$wht01;
	    border:none;
	    overflow: hidden;
	    position: relative;
	    width: 950px;
	    li.linediv {
		    float: left;
		    margin-right: 5px;
		    &:first-child{
				margin-left:2px;
			}
			&:last-child{
				margin-right:1px;
			}
			.spanimg{
				display: block;
				width: 225px;
				overflow: hidden;
				position: relative;
			}
			&:nth-child(odd){
				.spanimg{
					height: 230px;
					img{
				    	width: 230px;
				    }
		    	}
		    	.price{
		    		height: 34px;
					line-height: 34px;
		    	}
			}
			&:nth-child(even){
		    	.spanimg{
		    		height: 250px;
					img{
				    	width: 250px;
				    }
		    	}
		    	.price{
		    		height: 38px;
					line-height: 34px;
		    	}
		    }
		    .item {
			    margin-bottom: 5px;
			    a {
				    //background-color: rgb(255, 255, 255);
				    border: 1px solid rgb(233, 234, 236);
				    display: block;
				    padding: 3px;
				    &:hover{
				    	border:1px solid rgb(201, 88, 92);
				    	transition: all 0.3s ease-in-out 0s;
				    }
					.price {
					    border-bottom: 1px dashed rgb(224, 224, 224);
					    display: block;
					    margin-top: 5px;
					    width: 225px;
					    em {
						    border: 1px solid rgb(201, 88, 92);
						    border-radius: 5px;
						    color: rgb(201, 88, 92);
						    float: left;
						    height: 16px;
						    line-height: 16px;
						    margin: 7px 3px;
						    padding: 0 5px 1px;
						    font-style: normal;
						}
						.xj {
						    color: $redPrice;
						    float: left;
						    font-family: arial;
						    font-size: 20px;
						    font-weight: bolder;
						}
						del.yj {
						    color: rgb(107, 107, 107);
						    float: right;
						    font-size: 12px;
						    .ykj {
							    padding: 0 3px;
							}
						}
					}
					.text {
					    color: rgb(42, 42, 42);
					    display: block;
					    height: 42px;
					    line-height: 20px;
					    transition: all 0.3s ease-in-out 0s;
					    width: 225px;
					}
				}
			}
		}
	}
} 

#itemE{
	.styleE{
		padding-bottom:10px; 
		.head{
			height: 53px;
			overflow: hidden;
			position: relative;
		}
		.backBarBg{
			@include background-image(linear-gradient(top,#eeeeee,rgba(#eeeeee,.5),$wht01));
			border-top: 2px solid $styleE;
			bottom:0;
			height: 41px;
			position: absolute;
			width: 100%;
			z-index: 1;
		}
		.infoBlock{
			@include border-radius(10px);
			border-top-left-radius:0;
			border-top-right-radius:0;
			background-color:$styleE;
			height:46px;
			left: 20px;
			max-width:auto;
			min-width:150px;
			position:absolute;
			top:1px;
			z-index:9;
			box-shadow:1px 1px 2px rgba($bk01,0.6);
			.cornerL{
				position: absolute;
				left:-11px;
				top:0;
				height:0;
				width:0;
				border-bottom:11px solid darken($styleE,11%);
				border-left:11px solid transparent;
				border-right:0 solid transparent;
			}
			.cornerR{
				position: absolute;
				right:-11px;
				top:0;
				height:0;
				width:0;
				border-bottom:11px solid darken($styleE,11%);
				border-left:0 solid transparent;
				border-right:11px solid transparent;
			}
			.infoCont{
				color:$wht01;
				.floor{
					color:$styleE;//cc0000
					font:bold 1.6rem/2.2rem Arial;
					padding-left:17px;
					position:absolute;
					top:9px;
					z-index:9;
				}
				.title{
					padding-top:10px;
					margin:0 12px 0 46px;
					color:$wht01;
					font:bold 2rem/2.2rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;;
					}
				
				.eyeIcon {
				    position:absolute;
				    margin: 0 auto;
				    width: 32px;
				    height: 40px;
				    overflow: hidden;
				    background:transparent;
				    top:4px;
				    left:10px;
				    z-index:2;
					.downArr {
					    border-top: 12px $wht01 solid;
					    border-right: 8px transparent solid;
					    border-bottom:0px transparent solid;
					    border-left: 8px transparent solid;
					    left:8px;
					    position: absolute;
					    top:25px;
					    &:after {
							@include border-radius(28px);
						    @include transform(rotate(0deg));
							background-color: $wht01;
						    content: "";
						    display: block;
						    height:28px;
						    left: -14px;
						    position: absolute;
						    top: -36px;
						    width: 28px;
						}
					}
				}
			}
		}
		.rightmore {
		    margin-top: 24px;
		    position: absolute;
		    right:10px;
		    text-align: right;
		    width: 500px;
		    z-index:9;
		    a{
		    	color:rgba($bk01,0.4);
		    	font:1.5rem/1.6rem "微軟正黑體","蘋果儷中黑","新細明體",Arial;
		    	padding-right:4px;
		    	&:hover{
					text-decoration: underline;
					color:$red01;
				}
		    }   
		}
	}

	.boxdiv{
		display:block;
		height:680px;
		.sli {
		    //overflow: hidden;
		    position: relative;
		    width: 950px;
		    //min-height:395px;
		    ul.slnav {
			    min-height: 395px;
			    z-index:9;
			    display:block;
			    position:absolute;
			    li:hover .boxli{
			    	z-index:9;
			    	display:block;
			    }
			    li{
			    	float: left;
			    	margin-right:5px;
			    	width: 232px;
			    	.tab{
			    		background-color:$gry03; //#f8f8f8
					    border:1px solid $gry01;
					    color:#505050;
					    cursor: pointer;
					    display: block;
					    font:1.2rem;
					    height: 30px;
					    line-height: 30px;
					    text-align: center;
					    transition: all 0.1s ease-in-out 0s;
			    	}
			    	&:last-child .tab{
			    		margin-right:0;
				    	width: 237px;
				    }
				    &.slactive .tab , .tab:hover{
						margin-left:0;
						background:$bk01;
						border-bottom:none;
						span {
						    background-image: url("../images/star.png");
						    background-position: left center;
						    background-repeat: no-repeat;
						    padding-left: 20px;
						    color:$wht01;
						    font-size:1.8rem;
						}
					}

					&.slactive .boxli{
						z-index:9;
						display:block;
					}

					.boxli {
					    border: 1px solid $gry01;
					    z-index:1;
					    display:none;
					    position:absolute;
					    top:31px;
						.notediv {
						    background-color:$wht01;
						    position: relative;
						    width: 948px;
						    marquee {
								color: rgb(80, 80, 80);
								height: 30px;
								line-height: 30px;
								margin: 0 5px 0 24px;
								width: 915px;
							}
						    i {
							    background: url("../images/trumpet.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
							    display: block;
							    height: 30px;
							    left: 0;
							    position: absolute;
							    top: 0;
							    width: 30px;
							}
						}
						.itemul {
						    background-color:$wht01;
						    display: block;
						    overflow: hidden;
						    width: 948px;
						    padding-bottom:10px;
						    .item {
							    display: block;
							    float: left;
							    margin-bottom: 5px;
							    padding:0 0 5px;
							    &:hover{
									@include background-image(linear-gradient(top,#ededed,rgba(#ededed,.5),#fefefe));
									box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
									a {
										margin: 0;
										img{
											height: 231px;
											width: 231px;
										}
									}
								}
							    a {
								    display: block;
								    margin: 15px 12px 3px;
								    img {
									    height: 213px;
									    width: 213px;
									}
								}
								a.textdiv {
								    width: 210px;
									color: $gry02;
								    display: block;
								    height: 28px;
								    line-height: 28px;
								    margin: 0 auto;
								    overflow: hidden;
								    text-align: center;
								    transition: all 0.3s ease-in-out 0s;
								    width: 170px;
								}
								.pricediv {
								    height: 24px;
								    line-height: 24px;
								    text-align: left;
								    padding-left:6px;
								    em {
									    border: 1px solid rgb(201, 88, 92);
									    border-radius: 5px;
									    color: rgb(201, 88, 92);
									    margin: 0 3px;
									    padding: 0 3px;
									    font-style: normal;
									}
								    .price {
									    color: $redPrice;
									    font-family: arial;
									    font-size: 1.6rem;
									    font-weight: bolder;
									    padding: 0 8px 0 0;
									}
									del {
									    color: rgb(150, 150, 150);
									    float:right;
									    font-size: 12px;
									    padding-right: 10px;
									    .ykj {
										    
										}
									}
								}
								.tooldiv {
								    margin: 8px auto 3px;
								    overflow: hidden;
								    width: 50px;
								     .sharediv {
									    background: url("../images/share.png") no-repeat scroll 0 -64px rgba(0, 0, 0, 0);
										color: rgb(51, 51, 51);
									    cursor: pointer;
									    font-size: 13px;
									    line-height: 16px;
									    padding-left: 18px;
									    transition: all 0.3s ease-in-out 0s;
									}
								}
							}
						}
					}
					&#sli-2 .boxli,&#sli-3 .boxli,&#sli-4 .boxli{
						position: absolute;
						left:0;
					}
			    }
			}
		}

		ol .boxli {
		    border: 1px solid $gry01;
		    //z-index:1;
		    display:none;
		    position:absolute;
		    top:39px;
			.notediv {
			    background-color:$wht01;
			    position: relative;
			    width: 948px;
			    marquee {
					color: rgb(80, 80, 80);
					height: 30px;
					line-height: 30px;
					margin: 0 5px 0 24px;
					width: 915px;
				}
			    i {
				    background: url("http://img.taobao.com/L1/142/411490519/modules/tshop-um-hdyg/assets/images/trumpet.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
				    display: block;
				    height: 30px;
				    left: 0;
				    position: absolute;
				    top: 0;
				    width: 30px;
				}
			}
			
			.itemul {
			    background-color:$wht01;
			    display: block;
			    overflow: hidden;
			    width: 948px;
			    .item {
				    display: block;
				    float: left;
				    margin-bottom: 5px;
				    a {
					    display: block;
					    margin: 15px 12px 3px;
					    img {
						    height: 213px;
						    width: 213px;
						}
						&:hover{
							margin: 0 3px;
							 img {
							    height: 231px;
							    width: 231px;
							}
						}
					}
					a.textdiv {
					    width: 210px;
						color: rgb(51, 51, 51);
					    display: block;
					    height: 28px;
					    line-height: 28px;
					    margin: 0 auto;
					    overflow: hidden;
					    text-align: center;
					    transition: all 0.3s ease-in-out 0s;
					    width: 170px;
					}
					.pricediv {
					    height: 24px;
					    line-height: 24px;
					    text-align: center;
					    .price {
						    color: rgb(111, 142, 74);
						    font-weight: 700;
						    padding: 0 8px 0 0;
						}
						del {
						    color: rgb(150, 150, 150);
						}
					}
					.tooldiv {
					    margin: 8px auto 3px;
					    overflow: hidden;
					    width: 50px;
					     .sharediv {
						    background: url("http://img.taobao.com/L1/142/411490519/modules/tshop-um-hdyg/assets/images/share.png") no-repeat scroll 0 -64px rgba(0, 0, 0, 0);
							color: rgb(51, 51, 51);
						    cursor: pointer;
						    font-size: 13px;
						    line-height: 16px;
						    padding-left: 18px;
						    transition: all 0.3s ease-in-out 0s;
						}
					}
				}
			}
		}
		ol .selNow{
			display:block;
			z-index: 9;
		}
	}
}


#itemF{
	.styleF{
		padding-bottom:10px; 
		.head{
			height: 53px;
			overflow: hidden;
			position: relative;
		}
		.backBarBg{
			@include background-image(linear-gradient(top,#eeeeee,rgba(#eeeeee,.5),$wht01));
			border-top: 2px solid $styleF;
			bottom:0;
			height: 41px;
			position: absolute;
			width: 100%;
			z-index: 1;
		}
		.infoBlock{
			@include border-radius(10px);
			border-top-left-radius:0;
			border-top-right-radius:0;
			background-color:$styleF;
			height:46px;
			left: 20px;
			max-width:auto;
			min-width:150px;
			position:absolute;
			top:1px;
			z-index:9;
			box-shadow:1px 1px 2px rgba($bk01,0.6);
			.cornerL{
				position: absolute;
				left:-11px;
				top:0;
				height:0;
				width:0;
				border-bottom:11px solid darken($styleF,11%);
				border-left:11px solid transparent;
				border-right:0 solid transparent;
			}
			.cornerR{
				position: absolute;
				right:-11px;
				top:0;
				height:0;
				width:0;
				border-bottom:11px solid darken($styleF,11%);
				border-left:0 solid transparent;
				border-right:11px solid transparent;
			}
			.infoCont{
				color:$wht01;
				.floor{
					color:$styleF;
					font:bold 1.6rem/2.2rem Arial;
					padding-left:17px;
					position:absolute;
					top:9px;
					z-index:9;
				}
				.title{
					padding-top:10px;
					margin:0 12px 0 46px;
					color:$wht01;
					font:bold 2rem/2.2rem "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;;
					}
				
				.eyeIcon {
				    position:absolute;
				    margin: 0 auto;
				    width: 32px;
				    height: 40px;
				    overflow: hidden;
				    background:transparent;
				    top:4px;
				    left:10px;
				    z-index:2;
					.downArr {
					    border-top: 12px $wht01 solid;
					    border-right: 8px transparent solid;
					    border-bottom:0px transparent solid;
					    border-left: 8px transparent solid;
					    left:8px;
					    position: absolute;
					    top:25px;
					    &:after {
							@include border-radius(28px);
						    @include transform(rotate(0deg));
							background-color: $wht01;
						    content: "";
						    display: block;
						    height:28px;
						    left: -14px;
						    position: absolute;
						    top: -36px;
						    width: 28px;
						}
					}
				}
			}
		}
		.rightmore {
		    margin-top: 24px;
		    position: absolute;
		    right:10px;
		    text-align: right;
		    width: 500px;
		    z-index:9;
		    a{
		    	color:rgba($bk01,0.4);
		    	font:1.5rem/1.6rem "微軟正黑體","蘋果儷中黑","新細明體",Arial;
		    	padding-right:4px;
		    	&:hover{
					text-decoration: underline;
					color:$red01;
				}
		    }   
		}
	}

	.boxdiv{
	    background-color: $wht01;
	    border: 1px solid $gry01;
	    padding:0 0 5px 0;
	    ul {
		    display: block;
		    overflow: hidden;
		    li {
			    border: 1px solid $wht01;
			    display: block;
			    float: left;
			    margin: 5px 0 5px 4px;
			    transition: all 0.3s ease-in-out 0s;
				.libox {
					position: relative;
					width: 230px;
				}
				.imgdiv {
				    display: block;
				    height: 240px;
				    overflow: hidden;
				    position: relative;
				    width: 230px;
				    img {
				    	border: 0 none;
					    height: 240px;
					    left: -5px;
					    position: relative;
					    top: 0;
					    width: 240px;
					}
				}
				&:hover{
					.imgdiv img{
						height: 250px;
						left: -10px;
						transition: all 0.5s ease-in-out 0s;
						width: 250px;
					}
				}
				em {
					background:rgba(255,255,255,.9);
					border: 1px solid rgba(201,88,92,.5);
					border-radius: 5px;
					color: rgb(201, 88, 92);
					display: block;
					font-style: normal;
					height: 22px;
					left: 65px;
					line-height: 22px;
					padding: 0 3px;
					position: absolute;
					text-align: center;
					top: 230px;
					width: 100px;
				}
				.other {
				    margin: 0 8px;
				    overflow: hidden;
				    position: relative;
				    .addbtn {
					    height: 22px;
					    overflow: hidden;
					}
					.info {
					    background-color: rgb(255, 255, 255);
					    height: 0;
					    overflow: hidden;
					    position: absolute;
					    top: 26px;
					    transition: height 0.3s ease-in-out 0s;
					    width: 100%;
					    z-index: 99;
					    .price {
					    	color: $redPrice;
							font-family: arial;
							font-size: 1.6rem;
							font-weight: bolder;
						    display: block;
						    float: left;
						    .syba {
							    bottom: 0px;
							    color: rgb(104, 104, 104);
							    font-size: 1.2rem;
							    padding-right: 1px;
							    position: relative;
							}
						}
						.rbtn {
						    background: none repeat scroll 0 0 rgb(218, 114, 121);
						    border-radius: 3px;
						    color: rgb(255, 255, 255);
						    display: block;
						    float: right;
						    height: 25px;
						    line-height: 25px;
						    margin-top: 12px;
						    padding: 0 13px;
						    text-decoration: none;
						    &:hover{
								opacity:0.85;
							}
						}
					}
					.txt {
					    height: 48px;
					    line-height: 22px;
					    a{
							color: $gry02;
							display: block;
							margin: 0 auto;
							overflow: hidden;
							transition: all 0.1s ease-in-out 0s;
							width: 100%;
					    }
					}
				}
				&:hover{
					border:1px solid rgba(218,114,121,1);
				}
				&:hover .info{
					height:48px;
				}
				

			}
		}
	}
}

