h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}
input,button{margin:0;font-size:12px;vertical-align:middle;}
body{font-size:12px;font-family:Arial, Helvetica, sans-serif; color:#333; margin:0 auto; background:#999;}
table{border-collapse:collapse;border-spacing:0;}
a{ color:#333; text-decoration:none;}
em{ font-style:normal;}

#bd{ width:980px; margin:0 auto; height:450px;}
#Y_bigshow{
	height:490px;
	overflow:hidden;
	position:relative;
}
#Y_bigshow .tab-panel{
	position:relative;
	height:490px;
}
#Y_bigshow .tab-panel li{
	position:absolute;
}
#Y_bigshow .tab-nav-list li{
	position:relative;
}
#Y_bigshow li i{
	display:block;
	width:16px;
	height:8px;
	margin:-11px auto 0 auto;
	+left:50%;
	zoom:1;
	+width:16px;
	+position:absolute;
}
#Y_bigshow li .cur-arrow{
	width:16px;
	height:8px;
	display:none;
	background:url(../images/bigshow-pngs.png) no-repeat -14px -219px;;
	+position:relative;
	+left:-50%;
	z-index:3;
}
#Y_bigshow .li-home .cur-arrow{
}
#Y_bigshow .run-on-end .cur-arrow,
#Y_bigshow .run-on-home .cur-arrow{
	background:url(../images/bigshow-pngs.png) no-repeat -14px -261px;;
}
#Y_bigshow .tab-nav-list li span{
	display:block;
	float:left;
	text-align:center;
	padding:12px 17px 0;
	height:29px;
	position:relative;
	
}
#Y_bigshow .tab-nav{
	width:100%;
	height:73px;
	overflow:hidden;
	position:absolute;
	z-index:100;
	bottom:-75px;
	left:0;
	background:url(../images/bigshow-tab.html) repeat-x;
}
#Y_bigshow .tab-content{
}
#Y_bigshow .tab-nav-list{
	background:url(../images/bigshow-tab-x.png) repeat-x 0 5px;
	float:left;
	display:inline;
	position:relative;
	left:-50%;
	top:20px;
}
#Y_bigshow .tab-nav-list li{
	float:left;
}
#Y_bigshow .tab-nav-list li .r-b{
	background:url(../images/bigshow-pngs.png) no-repeat right -122px;
}
#Y_bigshow .tab-nav-list li a{
	outline:none;
	display:block;
	line-height:19px;
	float:left;
}
#Y_bigshow a{
	color:#2b2722;
}
#Y_bigshow a:hover {
}
#Y_bigshow .tab-nav-list .tab-nav-active a{
	color:#bd3a62;
}
#Y_bigshow .tab-nav-list .li-home{
	background:url(../images/bigshow-pngs_20110923.html) no-repeat 0 5px;
	margin-left:-8px;
	padding-left:5px;
}
#Y_bigshow .tab-nav-list .run-on-home{
    background-position:0 -278px;
}
#Y_bigshow .tab-nav-list .li-end{
	background:url(../images/bigshow-pngs.png) no-repeat right -36px;
	margin-right:-8px;
}
#Y_bigshow .tab-nav-list .run-on-end{
	background:url(../images/bigshow-pngs.png) no-repeat right -77px;
}
#Y_bigshow .tab-nav-list .li-home a{

}
#Y_bigshow .tab-nav-list .li-end a{
}
#Y_bigshow .tab-nav-list .run-on{
	background:url(../images/bigshow-tab-spe-x.png) repeat-x 0 5px;
}
#Y_bigshow .tab-nav-list .li-end .run-on{
	margin-right:8px;
	_margin-right:4px;
	padding-right:10px;
}
#Y_bigshow .tab-nav-list .li-home .run-on{
    margin-right:0;
    padding-right:15px;
}
#Y_bigshow .tab-nav-list .run-on em{
	display:block;
	float:left;
}
#Y_bigshow .tab-nav-list .run-on a{
	color:#fff;
}
#Y_bigshow .tab-panel li{overflow:hidden;}
#Y_bigshow .tab-panel li a{
	display:block;
	background:#ffffff url(../images/loading.html) repeat;
	overflow:hidden;
	zoom:1;
}
#Y_bigshow .tab-panel .mask-layer{
	background:#000;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
	transition:opacity 0.1s linear;
	-webkit-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
}
.w490h490,
.w490h490 a{
    width:490px;
    height:490px;
}
.w980h490 a{
    width:980px;
    height:490px;
}
.w490h280,
.w490h280 a{
    width:490px;
    height:280px;    
}
.w280h280,
.w280h280 a{
    width:280px;
    height:280px;    
}
.w210h280,
.w210h280 a{
    width:210px;
    height:280px;    
}
.w560h490,
.w560h490 a,
.w560h490 .mask-layer{
	width:560px;
	height:490px;
}
.w210h140,
.w210h140 a,
.w210h140 .mask-layer{
	width:210px;
	height:140px;
}
.w210h350,
.w210h350 a,
.w210h350 .mask-layer{
	width:210px;
	height:350px;
}
.w560h490,
.w560h490 a,
.w560h490 .mask-layer{
	width:560px;
	height:490px;
}
.w560h350 a,
.w560h350 .mask-layer{
	width:560px;
	height:350px;
}
.w350h140 a,
.w350h140 .mask-layer{
	width:350px;
	height:140px;
}
.w420h140,
.w420h140 a,
.w420h140 .mask-layer{
	width:420px;
	height:140px;
}
.w420h350,
.w420h350 a,
.w420h350 .mask-layer{
	width:420px;
	height:350px;
}
.w350h490,
.w350h490 a,
.w350h490 .mask-layer{
	width:350px;
	height:490px;
}
.w350h280,
.w350h280 a,
.w350h280 .mask-layer{
	width:350px;
	height:280px;
}
.w210h210,
.w210h210 a,
.w210h210 .mask-layer{
	width:210px;
	height:210px;
}
.w140h210,
.w140h210 a,
.w140h210 .mask-layer{
	width:140px;
	height:210px;
}
.w280h490,
.w280h490 a,
.w280h490 .mask-layer{
	width:280px;
	height:490px;
}
.w630h490,
.w630h490 a,
.w630h490 .mask-layer{
	width:630px;
	height:490px;
}
.w350h280,
.w350h280 a,
.w350h280 .mask-layer{
	width:350px;
	height:280px;
}
.w350h210,
.w350h210 a,
.w350h210 .mask-layer{
	width:350px;
	height:210px;
}
#Y_cop{overflow:hidden;zoom:1;position:relative;}
#Y_cop .cop-tab{
	width:426px;
	height:110px;
	overflow:hidden;
	float:left;
}
#Y_cop .cop-tab li{
	float:left;
	position:relative;
	margin:0 1px 2px 0;
}
#Y_cop .cop-tab .cop-tab-active{
}
#Y_cop .cop-tab li a{
	width:84px;
	height:54px;
	overflow:hidden;
	display:block;
}
#Y_cop .cop-tab li .cop-tab-bg{
	width:84px;
	height:54px;
	position:absolute;
	top:0;
	left:0;
	background:#cfccc9;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
	cursor:pointer;
}
#Y_cop .cop-tab .cop-tab-active .cop-tab-bg{
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0;
}
#Y_cop .cop-r{
}
#Y_cop .cop-content{
	width:554px;
	height:110px;
	overflow:hidden;
	float:left;
	position:relative;
	z-index:-1;
}
#Y_cop .cop-tab-default{
	display:none;
}
#Y_cop .cop-r li{
	float:left;
	display:inline;
}
#Y_cop .cop-r li a{
	width:184px;
	height:110px;
	overflow:hidden;
	display:block;
	border-right:1px solid #d2d0ce;
}
#Y_cop .cop-r .cop-r-end a{
	border-right:none;
}
#Y_brand_win{
	position:relative;
	height:230px;
	overflow:hidden;
}
.mask-layer{ height:420px;}
