.syFocusThumb IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; VERTICAL-ALIGN: top; BORDER-LEFT-STYLE: none
}
.focusTit {
	BACKGROUND: url(../images/indexP1bg.png) no-repeat
}
.focusNew .focusTab {
	BACKGROUND: url(../images/indexP1bg.png) no-repeat
}
.syFocusThumb .prev {
	BACKGROUND: url(../images/indexP1bg.png) no-repeat
}
.syFocusThumb .next {
	BACKGROUND: url(../images/indexP1bg.png) no-repeat
}
.syFocusThumb .pagination I.selected IMG {
	BACKGROUND: url(../images/indexP1bg.png) no-repeat
}
.syFocusThumb {
	POSITION: relative; WIDTH: 350px; BACKGROUND: #d7d7d7; HEIGHT: 260px; OVERFLOW: hidden
}
.syFocusThumb .pagination {
	POSITION: absolute; TEXT-ALIGN: left; WIDTH: 100%; BACKGROUND: #d7d7d7; HEIGHT: 62px; COLOR: #fff; CLEAR: both; TOP: 200px; LEFT: 0px
}
.syFocusThumb .pagination IMG {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 8px
}
.syFocusThumb .thumbWrap {
	POSITION: absolute; WIDTH: 312px; OVERFLOW: hidden; TOP: 4px; LEFT: 20px
}
.syFocusThumb .thumbWrap IMG {
	-MS-INTERPOLATION-MODE: bicubic
}
.syFocusThumb .holder {
	WIDTH: 4000px
}
.syFocusThumb .holder I {
	CURSOR: pointer; MARGIN-RIGHT: 4px
}
.syFocusThumb .prev {
	POSITION: absolute; WIDTH: 8px; BACKGROUND-POSITION: -616px -311px; HEIGHT: 40px; TOP: 12px; CURSOR: pointer; LEFT: 5px
}
.syFocusThumb .next {
	POSITION: absolute; WIDTH: 8px; BACKGROUND-POSITION: -616px -311px; HEIGHT: 40px; TOP: 12px; CURSOR: pointer; LEFT: 5px
}
.syFocusThumb .next {
	BACKGROUND-POSITION: -624px -311px; RIGHT: 5px; LEFT: auto
}
.syFocusThumb .pagination I.selected IMG {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND-POSITION: -632px -311px; PADDING-TOP: 8px
}
.syFocusThumb .contentdiv {
	HEIGHT: 260px
}
.syFocusThumb .toc IMG {
	WIDTH: 70px; HEIGHT: 40px
	}
p,p a{font-size:12px;color:#666;}